IDRAC_HOST=idrac.example.internal
IDRAC_USER=root
IDRAC_PASSWORD=change-me
IDRAC_ENCRYPTION_KEY=0000000000000000000000000000000000000000

CHECK_INTERVAL_SECONDS=180
INTERVAL_SECONDS=
DURATION_SECONDS=0
ENABLE_POWEREDGE_SHUTUP=1
FANCONTROL_INTERVAL_SECONDS=
TZ=America/New_York

ALERT_EMAIL_ENABLED=0
ALERT_TEMP_THRESHOLD_F=120
ALERT_EMAIL_TEST_ON_START=0
ALERT_EMAIL_TO=
ALERT_EMAIL_FROM=
ALERT_SMTP_HOST=
ALERT_SMTP_PORT=587
ALERT_SMTP_USERNAME=
ALERT_SMTP_PASSWORD=
ALERT_SMTP_STARTTLS=1
ALERT_SMTP_SSL=0
ALERT_EMAIL_SUBJECT_PREFIX=delltemps
